.posts {
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  column-gap: 100px;
  row-gap: 50px;
  grid-template-areas: "card card card";
}
.post-card {
  display: flex;
  flex-direction: column;
  grid-area: "card";
  font-size: 20px;
  border: solid #444 1px;
  padding: 10px;
  width: 250px;
  height: 250px;
}
.post-title {
  font-size: 25px;
  padding-bottom: 15px;
}
.post-content {
  font-size: 20px;
  padding-bottom: 10px;
}
.post-read-more {
  font-size: 16px;
}
@media (max-width: 550px) {
  .posts {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: "card";
  }
}
@media (min-width: 550px) and (max-width: 900px) {
  .posts {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: "card card";
    column-gap: 0;
    row-gap: 0;
  }
}
